  <!-- banner part start-->
  <app-banner> </app-banner>
  <!-- banner part start-->

  <!--::exclusive_item_part start::-->
 <app-popular-dishes></app-popular-dishes>
  <!--::exclusive_item_part end::-->

  <!-- about part start-->
  <app-history></app-history>
  <!-- about part end-->

  <!-- intro_video_bg start-->
  <app-video></app-video>
  <!-- intro_video_bg part start-->

<app-popular-menu></app-popular-menu>

<app-chefs></app-chefs> 

<app-reservation></app-reservation>

 <app-testimonials></app-testimonials>

<app-news></app-news>