  <!-- about part start-->
  <section class="about_part" >
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="assets/img/about.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    
                    <h2>. {{plat.platName}} .</h2>
                    <h4>{{plat.price}} DT (2 Persons)</h4>
                    <p>{{plat.description}} </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->