<!--::regervation_part start::-->
<section class="regervation_part section_padding" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                   <h2>{{title}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form #addAdminForm="ngForm"  (ngSubmit)="addAdmin()">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="firstName" placeholder="firstName *" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone:true}" >
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" placeholder="lastName *" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone:true}">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control" id="" placeholder="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone:true}">
                            </div>
                             <div class="form-group col-md-6">
                                <input type="password" class="form-control" id="" placeholder="confirm password" [(ngModel)]="user.confirmPassword" [ngModelOptions]="{standalone:true}">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="phone" placeholder="Phone number *" [(ngModel)]="user.phone" [ngModelOptions]="{standalone:true}">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id=""
                                    placeholder="Email address *" [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="regerv_btn">
                            <button  class="btn_4">{{title}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::regervation_part end::-->